@model MVC_GymBase_ProjectDBS.Models.GymClasses

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GymClasses</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GymClassTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GymClassTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GymClassName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GymClassName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GymIDModels }) |
    @Html.ActionLink("Back to List", "Index")
</p>
