@{
    ViewBag.Title = "Home";
}
<!---<body style="background-image: url('../../Content/Images/nutrition.jpg');
                                  "></body>-->

<div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
<ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
</ol>

<!-- Wrapper for slides -->
<div class="carousel-inner">
    <div class="item active">
        <img src="~/Content/Images/B1.png" alt="First slide">
        <div class="carousel-caption">
            <h1>Join Now | Now Open | No Contracts <i class="glyphicon-euro mb-4" aria-hidden="true"></i> </h1>
            @Html.ActionLink("Learn More", "", "Prices", null, new { @class = "btn btn-danger btn-g" })
        </div>
    </div>
    <div class="item">
        <img src="~/Content/Images/B2.png" alt="Second slide">
        <div class="carousel-caption">
            <h1>Start Your Workout Today</h1>
            @Html.ActionLink("Learn More", "", "Prices", null, new { @class = "btn btn-danger btn-g" })
        </div>
    </div>
    <div class="item">
        <img src="~/Content/Images/B3.png" alt="Second slide">
        <div class="carousel-caption">
            <h1>
                Start Your Contract <p> @Html.ActionLink("Learn More", "", "Prices", null, new { @class = "btn btn-danger btn-g" })</p></a>
            </h1>

        </div>
    </div>
</div>

<!-- Controls -->
<a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
</a>
<a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
</a>
</div>

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-check-circle"></i> Membership</h3>
                <p>€29 Monthly + Joining Fee </p>
                @Html.ActionLink("Learn More", "", "Prices", null, new { @class = "btn btn-danger btn-g" })
            </div>
            
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-pencil"></i> All Your Nutrition Needs </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in luctus tortor. Phasellus quis tellus et dui efficitur efficitur fringilla eu lorem. Proin tempus risus in lorem vulputate posuere. Vivamus non urna sapien. Nulla porta enim erat, nec ultricies massa pulvinar a. Sed eget efficitur leo. Vestibulum sodales sed tellus eu lobortis. Cras eleifend, turpis sed volutpat tempus, augue risus gravida augue, gravida sagittis lectus purus et dolor. Etiam maximus ex finibus erat lacinia, vel tincidunt dolor rhoncus. Curabitur volutpat consectetur risus, vel aliquam tortor hendrerit sit amet. Quisque vitae convallis diam. Aliquam id justo ac lacus vehicula ultricies eget at erat. Morbi accumsan nisi id ipsum venenatis posuere. </a>!</p>
                @Html.ActionLink("Learn More", "", "Prices", null, new { @class = "btn btn-danger btn-g" })
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-folder-open"></i> Get Your Fitness Plan</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in luctus tortor. Phasellus quis tellus et dui efficitur efficitur fringilla eu lorem. Proin tempus risus in lorem vulputate posuere. Vivamus non urna sapien. Nulla porta enim erat, nec ultricies massa pulvinar a. Sed eget efficitur leo. Vestibulum sodales sed tellus eu lobortis. </p>
                @Html.ActionLink("Click Here", "", "Prices", null, new { @class = "btn btn-danger btn-g" })
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>








<!-- /.section -->

<div class="section-colored text-center">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2>Start Your Membership Now!</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus quibusdam fugiat autem sit ex dolores?</p>
                <hr>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->










</div>
<!-- /.section-colored -->
<!-- /.section -->
<!--Prices section-->
<!----<section id="info py-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 align-self-center">
                <h3>Go Further For Less!</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ducimus suscipit accusantium animi dolorum laborum alias omnis cumque, ab sunt amet numquam assumenda nisi odit porro possimus non, similique adipisci.</p>
                @Html.ActionLink("Learn More", "", "Prices", null, new { @class = "btn btn-danger btn-g" })
            </div>
            <div class="col-sm-6 align-self-right">
                <!---- <img src="" alt="" class="img-fluid">-->
           <!--- </div>
        </div>
    </div>
</section>--->


<!-- /.row -->
<!-- /.container -->
<!--Home icon section-->
<section id="home-icons" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4 text-center">
                <i class="glyphicon glyphicon-heart mb-4" aria-hidden="true"></i>
                <h3>Get Fit, Stay Healthy</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus quibusdam fugiat autem sit ex dolores?</p>
            </div>
            <div class="col-md-4 mb-4 text-center">
                <i class="fa fa-wheelchair-alt " aria-hidden="true"></i>
                <h3>Fully Accessible Gym</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus quibusdam fugiat autem sit ex dolores?</p>
            </div>
            <div class="col-md-4 mb-4 text-center">
                <i class="glyphicon-euro mb-4" aria-hidden="true"></i>
                <h3>Save Money</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus quibusdam fugiat autem sit ex dolores?</p>
            </div>
        </div>
    </div>
</section>